<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <title>Dojo Survery Result</title>
</head>
<body>
    

    <div class="container">

        <table>
            <thead>
                <th id="header">Submitted Info</th>
                <tr>
                    <th>Name:</th>
                    <th>Location:</th>
                    <th>Favorite Language:</th>
                    <th>Comments:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ u_name }}</td>
                    <td>{{ u_location }}</td>
                    <td>{{ u_favlang }}</td>
                    <td>{{ u_comments }}</td>
                </tr>
            </tbody>
        </table>
    

    </div>


</body>
</html>